body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-position: inside;
    text-align: center;

}

#game-container {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    margin: 20px auto;
    position: relative;
}

#circle {
    position: absolute;
    width: 20px;
    /* Set a fixed width for the circle */
    height: 20px;
    /* Set a fixed height for the circle */
    background-color: red;
    border-radius: 50%;
    display: none;
}

.rebirth {
    background-color: blue;
    color: white;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}

.upgrade-2 {
    background-color: green;
    color: white;
}

.upgrade-3 {
    background-color: purple;
    color: white;
}

.ultimate-upgrade {
    background-color: gold;
    color: black;
    font-weight: bold;
}

.gradient-text {

    background: linear-gradient(to right, red, blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

table {
    width: 60%;
    border-collapse: collapse;
    text-align: center;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto
}

th,
td {
    padding: 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: white;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}